/* web font */
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Lig-webfont.eot');
    src: url('../fonts/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Lig-webfont.woff') format('woff'), url('../fonts/Lato-Lig-webfont.ttf') format('truetype'), url('../fonts/Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bol-webfont.eot');
    src: url('../fonts/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bol-webfont.woff') format('woff'), url('../fonts/Lato-Bol-webfont.ttf') format('truetype'), url('../fonts/Lato-Bol-webfont.svg#Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #ECF0F1;
}

input[type="checkbox"] {
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 4px #ccc;

    background-color:#ccc;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:25px;
    height:25px;
}

input[type="checkbox"]:checked {
    background-color:#3498db;
}

input[type="checkbox"]:hover {
    box-shadow:0px 0px 10px #1300ff;
}

.hidden {
    display: none;
}

.centered {
    margin: 0 auto;
}

section {
    max-width:990px;
    min-width:500px;
    margin:0 auto;
}

body > header {
    min-width:300px;
    max-width:300px;
    margin:0 auto;
    background:#2C3E50;
    border-radius: 300px;
    width:300px;
    position: relative;
    top:-100px;
}

h1{
    font-family: 'LatoLight', Lato, arial, sans-serif;
    font-weight:100;
    color:#fff;
    width:100%;
    text-align:center;
    font-size:3em;
    line-height:60px;
    padding: 120px 0;
    margin:0;
}

h1 span {
    font-family: 'LatoBold', Lato, arial, sans-serif;
    font-weight:900;
}

h2 {
    font-family: 'LatoBold', Lato, arial, sans-serif;
    font-weight:100;
    color:#2C3E50;
}

.core-section {
    position: relative;
    margin: 50px auto 20px auto;
    border-bottom: 1px solid white;
}

.core-section h2 {
    transform: rotate(-90deg);
    position:absolute;
    top:50px;
    left:-50px;
    margin:0;
    padding:10px;
    background: #bbb;
    width:130px;
    height:34px
}

#compare-bugs {
    width:100%;
    min-height:230px;
    position: relative;
}
#comparison-area {
    font-family: "LatoBold", arial, sans-serif;
    margin:0 auto;
    max-width: 400px;
}

#comparison-area > header {
    text-align: center;
    margin-bottom: 40px;
}

#comparison-area > header > strong.empty:before {
    content: '?';
    display: block;
    border-radius: 80px;
    background: #8c97a0;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 75px;
    line-height: 80px;
}

#comparison-area > header > strong,
#comparison-area > header > span {
    line-height: 80px;
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}

#comparison-area > header > strong:before {
    font-size: 80px;
    line-height: 80px;
}

#comparison-area > header > span {
    font-size: 40px;
    width: 120px;
}

#comparison-area .info {
    font-family: "LatoLight", arial, sans-serif;
    font-size: 24px;
    text-align: center;
    height: 90px;
    padding: 0 70px;
    margin: 0;
}

#comparison-base {
    background: url(../img/comparison-section-base.png) no-repeat;
    width:385px;
    height:110px;
    background-size: 100%;
    margin: 40px auto 0 auto;
}

table#doodle-list {
    font-size: 1.8em;
    margin-left: 100px;
    font-family: 'LatoLight', Lato, arial, sans-serif;
}

table#doodle-list th, table#doodle-list td {
    text-align: left;
    text-transform: lowercase;
    vertical-align: top;
    padding-right:30px
}

table#doodle-list th {
    font-family: 'LatoBold', Lato, arial, sans-serif;
    line-height: 40px;
    padding-bottom: 10px;
}

table#doodle-list th:first-child {
    text-indent: 100px
}

th.sortable a {
    background: url(../img/order-sprite.png) no-repeat 0 8px;
    text-indent: -1000px;
    display: inline-block;
    width: 14px
}

th.sortable a:hover {
    background-position: 0 -42px;
}

th.sortable a.sort-down {
    background-position: 0 -92px;
}

th.sortable a.sort-up {
    background-position: 0 -142px;
}

table#doodle-list td {
    line-height: 80px;
    height:100px;
}

table#doodle-list td[class^="icon"]:before {
    width:60px;
    display: inline-block;
    background: #fff;
    height: 60px;
    border-radius: 100px;
    font-size: 60px;
    padding:10px;
    margin-right: 20px;
    line-height:60px;
    transition: width 0.1s, height 0.1s, padding 0.1s, font-size 0.1s, color 0.2s, line-height 0.1s;
    transition-timing-function: ease-in-out;
}

table#doodle-list tr:hover td[class^="icon"]:before {
    padding:0;
    font-size:80px;
    width:80px;
    height:80px;
    color:#3498db;
    line-height:60px;
}

table#doodle-list tr:hover td {
    color:#3498db;
}

table.compare {
    text-align: center;
    font-size: 20px;
    height: 90px;
}

/* First and last column */
table.compare td:first-child,
table.compare td:first-child + td + td {
    width: 20%;
}

/* Middle column */
table.compare td:first-child + td {
    font-family: Lato, arial, sans-serif;
    width: 150px;
}

table.compare td.green {
    color: #6ee80c;
}

table.compare td.red {
    color: #e74c3c;
}

@media (max-width: 800px) {
    table#doodle-list {
        font-size: 1em;
    }

    td {
        line-height: 40px;
        height:50px;
    }

    th:first-child {
        text-indent: 50px;
        min-width: 120px;
    }

    th:nth-child(2) {
        min-width: 60px;
    }

    td[class^="icon"]:before {
        width:30px;
        display: inline-block;
        background: #fff;
        height: 30px;
        border-radius: 50px;
        font-size: 30px;
        padding:5px;
        margin-right: 10px;
        line-height:30px;
        transition: width 0.1s, height 0.1s, padding 0.1s, font-size 0.1s, color 0.2s, line-height 0.1s;
        transition-timing-function: ease-in-out;
    }

    tr:hover td[class^="icon"]:before {
        padding:0;
        font-size:40px;
        width:40px;
        height:40px;
        color:#3498db;
        line-height:30px;
    }
}
