
@font-face {
    font-family: 'doodlebug';
    src: url('../fonts/doodlebug.eot');
    src: url('../fonts/doodlebug.eot?#iefix') format('embedded-opentype'), url('../fonts/doodlebug.woff') format('woff'), url('../fonts/doodlebug.ttf') format('truetype'), url('../fonts/doodlebug.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before {
    font-family: 'doodlebug';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-copy-bug:before {
    content: "\e600";
}

.icon-evil-bug:before {
    content: "\e601";
}

.icon-mad-bug:before {
    content: "\e602";
}

.icon-mono-bug:before {
    content: "\e603";
}

.icon-odd-bug:before {
    content: "\e604";
}

.icon-run-bug:before {
    content: "\e605";
}

