<section id="compare-bugs" class="core-section">
  <h2>comparison</h2>
  <div id="comparison-area">
    <header>
      <strong ng-class="selected[0] ? 'icon-' + selected[0].name + '-bug' : 'empty'"></strong>
      <span>vs</span>
      <strong ng-class="selected[1] ? 'icon-' + selected[1].name + '-bug' : 'empty'"></strong>
    </header>

    <p class="info">
      Select two doodles to compare which has the skills you like most.
    </p>
    <table ng-show="selected.length === 2" class="compare centered">
      <tr class="speed">
        <td>
          {{ selected[0].attributes.speed }}
        </td>
        <td>speed</td>
        <td>
          {{ selected[1].attributes.speed }}
        </td>
      </tr>
      <tr class="strength">
        <td>
          {{ selected[0].attributes.strength }}
        </td>
        <td>strength</td>
        <td>
          {{ selected[1].attributes.strength }}
        </td>
      </tr>
      <tr class="intelligence">
        <td>
          {{ selected[0].attributes.intelligence }}
        </td>
        <td>intelligence</td>
        <td>
          {{ selected[1].attributes.intelligence }}
        </td>
      </tr>
    </table>
    <div id="comparison-base"></div>
  </div>
</section>
