<section id="bug-list" class="core-section">
  <h2>the doodles</h2>
  <table name="doodle-list" id="doodle-list" description="All available players for the game">
    <thead>
      <tr>
        <th data-property="doodleName" class="sortable">
          Doodle
          <a href="#" 
             ng-click="sortBy('name')"
             ng-class="{'sort-up': orderedBy === 'name' && orderedDir === 'asc',
                        'sort-down': orderedBy === 'name' && orderedDir === 'desc'}">
            sort</a>
        </th>
        <th data-property="teamName" class="sortable">
          Team
          <a href="#" 
             ng-click="sortBy('team')"
             ng-class="{'sort-down': orderedBy === 'team' && orderedDir === 'asc',
                       'sort-up': orderedBy === 'team' && orderedDir === 'desc'}">
            sort</a>
        </th>
        <th>Best rating</th>
        <th>Compare</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="doodle in doodles">
        <td class="icon-{{ doodle.name }}-bug">{{ doodle.formatName() }}</td>
        <td>{{ doodle.team }}</td>
        <td>{{ doodle.topRating() }}</td>
        <td>
          <input name="compare[]" 
                 type="checkbox" 
                 ng-click="checked(doodle, $event)"
                 value="{{ doodle.name }}">
        </td>
      </tr>
    </tbody>
  </table>
</section>
